/* Body */
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Item Titles: h2 */
#item-title h2 {
    padding: 10px;
    
}

/* Item Titles: h3 */
#item-title h3 {
    text-align: center;
}

/* Table Title: h2 */
#table-title h2 {
    padding: 10px;
}

/* Image & Table Container: Image */
#image-table img {
    margin-top: 40px;
    padding: 10px;
    width: 100%;
    height: auto;
    box-align: center;
}

/* General h2 */
h2 {
    padding: 10px;
    text-align: center;
    font-size: 30px;
    color: #d37f3acb;
}

/* General h1 */
h1 {
    padding: 10px;
    font-size: 50px;
}

/* General h3 */
h3 {
    padding: 10px;
    font-size: 20px;
    
}

/* Primary Button: "Scrape" */
.btn-primary {
    background-color: #d37f3acb;
    border-color: #d37f3acb;
}

/* General paragraph */
p {
    padding: 10px;
    font-size: 15px;
}

/* General container */
.container {
    padding: 10px;
}

/* Mars News Container */
.container #mars-news {
    padding: 30px;
}

/* Imaage & Table Container */
.container #image-table {
    margin-bottom: 30px;
}

/* Picture Gallery */
#picture-gallery {
    padding: 20px;
}

/* Media Query */
@media (max-width: 767px) {

    /* General h2 */
    h2 {
        padding: 10px;
        text-align: center;
        font-size: 25px;
    }

    /* General h1 */
    h1 {
        padding: 10px;
        font-size: 35px;
    }

    /* General h3 */
    h3 {
        padding: 10px;
        font-size: 20px;
    }

    /* Image & Table Container: Image */
    #image-table img {
        margin-top: 10px;
        margin-bottom: 30px;
        padding: 10px;
        width: 100%;
        height: auto;
        box-align: center;
    }

}