<!DOCTYPE html>
<html lang="en-us">

    <head>
        <meta charset="UTF-8">
        <title>Mission to Mars</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='D:HW12/web-scraping-challenge/static/styles.css') }}">
        <link rel="stylesheet" href= "D:/HW12/web-scraping-challenge/static/styles.css">
    
    </head>

    <body>
        <div class="container-fluid">
                <div class="jumbotron text-center" id="main-title">
                    <h1>Mission to Mars</h1>
                    <p><a class="btn btn-primary btn-lg" href="D:\HW12\web-scraping-challenge\scrape_mars" role="button">Scrape for the Latest Mars Data</a></p>
                </div>
        </div>

        
        <div class="container" id="mars-news">
            <div class="row">
                <div class="col-md-12" id="item-title">
                    <h2>Latest Mars News</h2>
                </div>
                <h3>{{ dict.mars_news.news_title }}</h3>
                <p>{{ dict.mars_news.news_paragraph }}</p>
            </div>
        </div>
        <hr/>
        <div class="container" id="image-table">
            <div class="row">
                <div class="col-md-8" id="item-title">
                    <h2>Featured Mars Image</h2>
                    <hr/>
                    
                
                <img src="{{ dict.jpl_feat_image.feat_image_url }}"/>
                </div>
                <div class="col-md-4" id="item-title">
                    <div class="table-responsive-xl">
                    <h2>Mars Facts</h2>
                    <hr/>
                    <h3>Comparisons to Earth</h3>
                    {{ dict.mars_facts|safe }}
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <div class="container" id="picture-gallery">
            <div class="row">
                <div class="col-md-12" id="item-title">
                    <h2>Mars Hemispheres</h2>
                </div>
            </div>

            <div class="row">

            {% for x in dict.hemisphere_image_urls %}
                <div class="col-md-3">
                    <div class="card-group">
                        <div class="card text-center" style="width: 12rem;">
                        <img class="card-img-top" src="{{ x.img_url }}" alt="{{ x.title }}">
                        <div class="card-body">
                            <p class="card-text">{{ x.title }}</p>
                        </div>
                        </div>
                    </div>  
                </div>
                {% endfor %} 
            </div>
        </div>
    </body>
</html>